<h2 class="text-primary">Country App</h2>

<hr>

<ul class="list-group">
    
    <li routerLink="home"
        routerLinkActive="active"
        class="list-group-item list-group-item-action">
        Inicio
    </li>
    <li routerLink="countries/by-region"
        routerLinkActive="active"
        class="list-group-item list-group-item-action">
        Continente
    </li>
    <li routerLink="countries/by-country"
        routerLinkActive="active"
        class="list-group-item list-group-item-action">
        País
    </li>
    <li routerLink="countries/by-capital"
        routerLinkActive="active"
        class="list-group-item list-group-item-action">
        Capital
    </li>
</ul>