<div class="m-4 d-flex flex-column align-items-center">
    <h3 class="mb-4 fw-bold">¡Bienvenido a un viaje virtual alrededor del mundo!</h3>
    <img src="./assets/2.jpg" alt="Imagen mundo" width="700" class="mb-3 img-fluid"/>
    
    <p>Con esta aplicación, explorar la <strong>diversidad</strong> de países nunca ha sido tan fácil. Conectándonos a la potente API de Restcountries, te brindamos acceso instantáneo a una gran cantidad de <strong>información</strong> detallada sobre cualquier país que desees conocer. Descubre datos fascinantes sobre la geografía, población, idiomas, monedas y mucho más. 

    <p>¿Te preguntas cuál es la bandera de un país o cuál es su capital? Ya sea que estés planificando tu próximo viaje, investigando para un proyecto escolar o simplemente alimentando tu curiosidad, nuestra aplicación es tu compañera perfecta. <strong>¡Sumérgete en la riqueza de la información mundial con nosotros!</strong></p>
</div>