<div *ngIf="countries.length === 0; else table" class="alert alert-warning text-center mt-3">
    No hay países que mostrar
</div>

<ng-template #table>
    <table class="table table-responsive table-hover mt-3">
      <thead>
        <tr>
          <th class="text-primary">#</th>
          <th class="text-primary">Bandera</th>
          <th class="text-primary">Nombre</th>
          <th class="text-primary">Capital</th>
          <th class="text-primary">Población</th>
          <th class="text-primary"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries; let i = index">
          <td>{{ i + 1 }}</td>
          <td>
            <img [src]="country.flags.svg" [alt]="country.name.common">
          </td>
          <td class="fw-bold">{{ country.name.common.substr(0,22) }}</td>
          <td>{{ country.capital[0] }}</td>
          <td>{{ country.population | number }}</td>
          <td>
            <a [routerLink]="['/countries/by/', country.cca3]">Más...</a>
          </td>
  
        </tr>
      </tbody>
  
    </table>
  
  </ng-template>